@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin: -8px;
}
header{
    grid-column: 1/span 4;
    display: flex;
    flex-direction: row;
    background-color: #3d2d1a;
    text-align: center;
    align-items: center;
}
nav{
    grid-column: 1/span 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #e7d9b2;
    align-items: center;

}
main{
    grid-column: 1/span 4;
    grid-row: 3/4;
    background-color: #3e90aa;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    gap: 5vh;

}
#backround-img{
    grid-column: 1/ 2;
    grid-row: 1/ 3;
    height: 100vh;
    max-width: 20vh;
    object-fit: fill;
}
article{
    background-color: #b2b2b2;
    font-family: 'Satisfy', serif;
    margin-top: 1vh;
}
aside{
    display: none;
    background-color: #97764e;
    grid-column: 5/6;
    grid-row: 1/3;
}
footer{
    grid-column: 1/span 4;
    background-color: #97764e;
    color: white;
    justify-content: center;
    text-align: center;
}
.Satisfy{
    font-family: 'Satisfy', serif;
}
.articleimg-sizing{
    max-width: 40vh;
    max-height: auto;
}
.logo{
    max-width: auto;
    max-height: 150px;
    justify-content: left;
}
h1{
    justify-content: center;
    color: white;
    font-size: 5em;
}
h2{
    font-family: 'Satisfy', serif;
}
.cart{
    max-height: 55px;
}


/* tablet */
@media screen and (min-width:641px) and (max-width: 1007px) {
    
}
/* mobil */
@media screen and (max-width: 640px) {
    body{
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        margin: -8px;
    }
    header{
        display: flex;
        flex-flow: column;
    }
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h1{
        margin-top: -53.600;
        margin-bottom: -53.6;
    }
    h2{
        margin: 3vw;
    }
    main{
        grid-column: 1/span 4;
        grid-row: 3/4;
        background-color: #3e90aa;
        display: flex;
        flex-direction: column;
        padding-bottom: 2vh;
        
    
    }
    article{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #backround-img{
        display: none;
    }
    .logo{
        display: none;
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        padding-right: 1vw;
        border: solid black 2px;
    }
    .articleimg-sizing{
        max-width: 100%;
        max-height: auto;
    }
}